<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>秒杀活动发布</title>
</head>
<body>
<form th:action="@{/SeckillActivityActionupdate}" method="post">
  ID：<input type="text" name="id"><br><br>
  秒杀活动名称:<input type="text" name="name"><br><br>
  商品ID：<input type="text" name="commodityId"><br><br>
  秒杀价格：<input type="text" name="seckillPrice"><br><br>
  商品原价：<input type="text" name="oldPrice"><br><br>
  秒杀商品数量：<input type="text" name="seckillNumber"><br><br>
  开始时间：<input type="datetime-local" name="startTime"><br><br>
  结束时间：<input type="datetime-local" name="endTime"><br><br>
  <input type="submit" value="提交">
</form>
</body>
</html>